/* ida{
    color: plum;
    /* background-color: aquamarine;  */
 /*
/* idb{
    color: palevioletred;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.Dummy{ */
    color: blueviolet;
    background-color: bisque;
    font: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



